.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding: 0.25rem;
  z-index: 1000;

  & span {
    padding-left: 1rem;
  }
}

main {
  padding: 1rem;
  margin-top: 60px;
}
